.mnc-mapsearch-container {

  position:relative;

  .mnc-listcontainer {
    min-height:100vh;
  }
  .mnc-mapcontainer {
    min-height:600px;
    width:100%;
  }
  .mnc-map-sticky {
    position:sticky;
  }
  .mnc-map-scroll {
    position:relative;
  }


}