$color1: rgba(244, 166, 152, 1);
$color2: rgb(140, 36, 36);
$color2: #db3832;
$color_mnc_rot:$color2;
$color3: rgba(21, 5, 120, 1);
$color4: rgba(46, 115, 183, 1);
$color_mi_grau: #444444;

$color_akzent: #cb463b;
$color_hover: #cc181f;

$color_white: #FFFFFF;
$color_schwatt: #222;

$color_braun: #6e251f;
$color_gruenblau: #48978b;
$color_hellbraun: #ebc182;
$color_magenta: #c53d66;
$color_blau: #3f73b2;

$card_1_bg: $color_braun;
$card_1_fg: $color_white;

$card_2_bg: $color_gruenblau;
$card_2_fg: $color_schwatt;

$card_3_bg: $color_hellbraun;
$card_3_fg: $color_schwatt;

$card_4_bg: $color_magenta;
$card_4_fg: $color_white;

$card_5_bg: $color_blau;
$card_5_fg: $color_white;

// Input types:
$color_bg_searchmain_inactive: rgba(208, 204, 204, 0.91);
$color_bg_searchmain_active: rgba(255, 255, 255, 0.9);
$color_placeholder: #a4a9af;
$color_element_border: #cfd4da;
$element_heights: 50px;