/**
Presse und Downloads
 */
.mncfilegroups h3, .mncfilegroups h4 {
  background-color: #2e73b8;
  color: #FFFFFF;
}
.mncfilegroups {
  border: 1px solid #0073bd;
}
span.mnc_download {
  @include bp(mobile) {
    background-size: 15px 15px;
    background-position: 0 3px;
    height: 20px;
    width: 20px;
  }
}